<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>


   <body>
      <button id="guess">GUESS</button>
      <h1 id="country">Pick the country</h1>
      <div id="pointer"></div>
      <%- include('./partials/3dGlobe.ejs')%>
   </body>
</html>

